language: android
jdk:
  - oraclejdk8
sudo: false
android:
  components:
  - tools
  - platform-tools
  - build-tools-27.0.2
  - android-27
  licenses:
  - android-sdk-license-.+
before_install:
  - yes | sdkmanager "platforms;android-27"
script:
- "./gradlew build check --daemon"
after_failure: "cat $TRAVIS_BUILD_DIR/app/build/outputs/lint-results-debug.xml"
